<style>
/* ******************************************/
/* Begin flip card styles */
/* ******************************************/

/* Grid container */
.card-container {	
    width: 100%;
	display: flex !important;
	flex-flow: row wrap !important;
    justify-content: center;
}

/* card layout settings */
.card-item {
	padding:50px 30px;
	flex-basis: 25% !important;
}

/* card title text styles */
.card-item-title {
	padding-top: 0px;
	text-align:center;
}

/* flip card container */
.flip-container {	
	-webkit-perspective: 1000;
	background: #ffffff;
    margin-bottom: 40px !important;
}

/* flip the pane when clicked */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
}

.flip-container {
	width: 100%;
	height: 190px;
}

.front, .back {
	width: 100%;
	height: 190px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background: #ffffff;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* text container */
.flip-text {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

/* Text styles */
.flip-text h2, .flip-text p, .flip-text h1, .flip-text h2, .flip-text h3, .flip-text a {
	text-align: center;
	color: #666666;
	padding: 25px;
}
</style>

<div class="card-container">
	
	<!-- Card 1 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb412c50852290ffa48e7c4/5bb412c57817f70700f6ff30/1538527943521/360-Degree.png?format=500w">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>360 Degree Marketing is the best.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

	<!-- Card 2 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb412c50852290ffa48e7c4/5bb412c5e79c70ec59ef6f3e/1538527942709/brand.png?format=1000w"width="250">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>Branding&mdash;it is very important</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

	<!-- Card 3 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb412c50852290ffa48e7c4/5bb412c624a6940b1fca3e20/1538527943081/data.png?format=500w"width="250">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>Data &mdash; we help you get the best dang data out there</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>
	
	<!-- Card 4 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb412c50852290ffa48e7c4/5bb412c6f9619a6ba2fa5519/1538527943211/design.png?format=500w"width="250">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>Design&mdash;because we see it yet don't appreciate it</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

	<!-- Card 5 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb41de515fcc0f958a7272a/5bb41de671c10b7ebdee6a44/1538530790931/Photo+and+video.png?format=750w"width="250">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>We also do video!</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

	<!-- Card 6 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb41de515fcc0f958a7272a/5bb41de61905f4207c1af958/1538530791022/strategy.png?format=750w"width="250">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>Let us help you come up with campaign ideas</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

	<!-- Card 7 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb41de515fcc0f958a7272a/5bb41de6e5e5f0cff4dc19d7/1538530791412/Web.png?format=750w"width="250">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>And we can make your website too, while we are at it!</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

	<!-- Card 8 -->
	<div class="card-item">
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="flip-text">
						<img src="https://static1.squarespace.com/static/5baa69b5e4afe95e47dc85fa/5bb412c50852290ffa48e7c4/5bb412c57817f70700f6ff30/1538527943521/360-Degree.png?format=500w">
					</div>
				</div>
				<div class="back">
					<div class="flip-text">
						<p>360 Degree Marketing is the best.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Set item title here. -->
		<div class="card-item-title">
			<h2>Item Title</h2>
		</div>
	</div>

</div>