/* interaction.scss */
/* variables */
$tv-scale: 29%;
$email-scale: 21%;
$address-scale: 22%;
$ip-address-scale: 23%;
$social-scale: 17.5%;
$phone-scale: 21.5%;
$intro-scale: 40%;

.main-area {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 99999;
}
.main-area img {
	width: 100%;
	height: 100%;
}

.orbit {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	animation: spin-right 1s cubic-bezier(0.175, 0.985, 0.01, 1.08) 1;
  	z-index: 1;
}

.intObj {
	display: block;
	position: absolute;
	cursor: pointer;
	animation: counter-rotation 1s cubic-bezier(0.175, 0.885, 0.5, 1.1) 1;
	z-index: 99999;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

// #ctx {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// }

#tv-layer {
	width: $tv-scale;
	height: $tv-scale;
	top: 14%;
	left: 5%;
}

#email-layer {
	width: $email-scale;
	height: $email-scale;
	top: 65%;
	left: 19%;
}

#address-layer {
	width: $address-scale;
	height: $address-scale;
	top: 42%;
	left: 76%;
}

#ip-address-layer {
	width: $ip-address-scale;
	height: $ip-address-scale;
	top: 64%;
	left: 58%;
}

#social-layer {
	width: $social-scale;
	height: $social-scale;
	top: 20%;
	left: 66%;
}
#phone-layer {
	width: $phone-scale;
	height: $phone-scale;
	top: 43%;
	left: 4.5%;
}

#intro-layer {
	position: absolute;
	width: $intro-scale;
	height: $intro-scale;
	top: 26%;
	left: 32%;
	animation: grow-in 400ms cubic-bezier(0.175, 0.885, 0.5, 1.1) 1;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 0;
	transition: all ease-in-out 300ms;
	z-index: 1;
}

#overlayImage {
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: all ease-in-out 400ms;	
}

/* ---------- Animations ---------- */
@-webkit-keyframes spin-right {
	0% {
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		-ms-transform: rotate(1080deg);
		-o-transform: rotate(1080deg);
		transform: rotate(1080deg);
		opacity: 1.0;
	}
}

@-webkit-keyframes counter-rotation {
	100% {
    -webkit-transform: rotate(-1080deg);
    -moz-transform: rotate(-1080deg);
    -ms-transform: rotate(-1080deg);
    -o-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
  }
}

@-webkit-keyframes grow-in {
	0% {
	    -webkit-transform: scale(0);
	    -moz-transform: scale(0);
	    -ms-transform: scale(0);
	    -o-transform: scale(0);
	    transform: scale(0);
	}
	100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media all and (min-width:760) {
#block-yui_3_17_2_1_1539702300875_94257, #yui_3_17_2_1_1539702300875_336802, #block-yui_3_17_2_1_1539702300875_96511, #yui_3_17_2_1_1539702300875_337666, #block-yui_3_17_2_1_1539702300875_98782, #yui_3_17_2_1_1539702300875_338530, #block-yui_3_17_2_1_1539702300875_101060, #yui_3_17_2_1_1539702300875_339394, #block-yui_3_17_2_1_1539702300875_103354, #yui_3_17_2_1_1539702300875_340258, #block-yui_3_17_2_1_1539702300875_105664, #yui_3_17_2_1_1539702300875_341122 {
		display: none !important;
	}
}
@media all and (max-width:759) {
#block-yui_3_17_2_1_1539702300875_94257, #yui_3_17_2_1_1539702300875_336802, #block-yui_3_17_2_1_1539702300875_96511, #yui_3_17_2_1_1539702300875_337666, #block-yui_3_17_2_1_1539702300875_98782, #yui_3_17_2_1_1539702300875_338530, #block-yui_3_17_2_1_1539702300875_101060, #yui_3_17_2_1_1539702300875_339394, #block-yui_3_17_2_1_1539702300875_103354, #yui_3_17_2_1_1539702300875_340258, #block-yui_3_17_2_1_1539702300875_105664, #yui_3_17_2_1_1539702300875_341122 {
		display: block;
	}
}